<!-- main.ejs -->
<div class="container">
    <h1 class="text-center p-2">Chào mừng đến với trang web của chúng tôi</h1>
    <p class="text-center p-2">Nội dung mặc định của trang sẽ hiển thị tại đây.</p>
  </div>